<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to ImgCropper
  </h1>
</div>

<h2>Cropper controls</h2>
<div>
  <input type="file" (change)="fileChangeEvent($event)" />

  <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="true"
      [roundCropper]="true"
      [aspectRatio]="1"
      [resizeToWidth]="128"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      [backgroundColor]="'grey'"
      [autoCrop]="true"
  ></image-cropper>

  <img [src]="croppedImage" />
</div>

